#fundoprincipal {
  background-image: url("../img/offspringarte.jpg");
  background-size: 20%;
  background-position: 49.5% 34%;
  border-radius: 10px;
  border: 3px solid #ff7b00;
  text-align: center;
}
#tituloprincipal {
  color: #fff;
  background-color: #000;
  display: inline-block;
  padding: 3px 15px;
  border-radius: 10px;
  border: 5px double #ffffff;
  margin: 5px;
  font-family: Helvetica;
  font-size: 300%;
  letter-spacing: 1px;
}
#subtituloprincipal {
  color: #5f5e5e;
  font-size: 150%;
  text-align: center;
  font-style: italic;
  margin-top: 5px;
  margin-bottom: 20px;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 10;
}

.img1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.img2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.titulo {
  font-size: 200%;
  margin-bottom: 50px;
}
.subtitulo {
  font-size: 130%;
}
.paragrafos {
  margin: 60px 20px;
  font-size: large;
  line-height: 30px;
}
.desc {
  color: #5f5e5e;
  text-align: center;
  margin-top: 1.5px;
}
.desc2 {
  color: #8f8f8f;
  margin-top: 1.5px;
  font-style: italic;
  font-size: 90%;
}
.lista {
  font-size: larger;
  line-height: 50px;
}
.frase {
  background-color: #dadada;
  padding: 10px;
  font-size: 120%;
  line-height: 50px;
  border-radius: 30px;
  text-align: center;
}
.frase2 {
  background-color: #dadada;
  padding: 10px;
  font-size: 110%;
  line-height: 50px;
  border-radius: 30px;
  margin-right: 470px;
  margin-left: 470px;
  text-align: center;
}

hr {
  width: 90%;
  height: 2px;
  background-color: #4d4c4a;
  opacity: 0.2;
  margin: 50px auto;
}
